  
  .navbar-links-center {
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-large {
    height: 70px;
    padding: 35px; 
  }
  
  .navbar-brand {
    font-size: 25px;
  }
  .navbar-links {
    font-size: 20px;
  }

  .custom-cursor {
    cursor: none;
    width: 16px;
    height: 16px;
    background-color: #000;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }

  h1 {
    text-align: center;
  }